<app-navbar></app-navbar>
<div class="container">
    <mat-card id="Projectdetails-card">
        <mat-card-header>
          <mat-card-title id="projecttitle">Project 1</mat-card-title>
          <mat-card-subtitle id="project-discription">this is the project-discription of the demo project</mat-card-subtitle>
          <mat-card-actions id="editanddelete">
              <button mat-button>EDIT <i class="material-icons">border_color</i></button>
              <button mat-button>DELETE<i class="material-icons">delete </i></button>
          </mat-card-actions>
        </mat-card-header>
        <hr>
        <mat-card-content>
          
            <mat-card id="workflowcard">
              <mat-card-header>
                  <mat-card-title class="workflowtitle">Work flow 1</mat-card-title>
                  <mat-card-actions id="workflowmodify">
                      <button mat-raised-button>VIEW <i class="material-icons">visibility</i></button>
                      <button mat-raised-button>MODIFY <i class="material-icons">cached</i></button>
                  </mat-card-actions>
              </mat-card-header>
            </mat-card>
          </mat-card-content>
    </mat-card>
</div>
